<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=deivce-width, initial-scale=1.0">
        <meta http-equv="X-UA-Compatible" content="ie-edge">
        <title>sonyometal</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <style>
                body {
                        background-color: black;
                }
                nav#gnav {
                        width: 600px;
                        margin: 0 auto;
                        padding: 0 100px;
                        z-index: 10000;
                }
                nav#gnav ul {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 2px;
                        list-style-type: none;
                }
                nav#gnav ul li a {
                        display: block;
                        height: 100px;
                        background-repeat: no-repeat;
                        background-position: center top;
                        transition: 0.2s;
                        background-size: 62px 87px;
                }
                nav#gnav ul li a span {
                        visibility: hidden;
                }
		.list-group {
			width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

</head>

<body>
        <!-- bootstrap script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

        <!-- image  -->
	<a href="">
		<img src="https://raw.githubusercontent.com/YuiLovesTomato/sonyometal/master/images/02.jpg" class="img-fluid d-block w-100">
	</a>

        <!- gnav -->
        <!-- img sources are cloned from offical website. edit later -->
        <nav id="gnav">
        <ul>
                <li class="home" style="background-image: url(https://www.babymetal.com/en/images/pc_nav/home.png);"><a href=""><span>HOME.....</span></a></li>
                <li class="twitter"  style="background-image: url(https://www.babymetal.com/en/images/pc_nav/twitter.png");><a href="https://twitter.com/SONYOMETAL" target="_blank"><span>twitter....</span></a></li>
                <li class="youtube" style="background-image: url(https://www.babymetal.com/en/images/pc_nav/youtube.png");><a href="https://www.youtube.com/channel/sonyometal" target="_blank"><span>YouTube</span></a></li>
                <li class="store_en" style="background-image: url(https://www.babymetal.com/en/images/pc_nav/store_en.png");><a href="store" target="_blank"><span>STORE...</span></a></li>
        </ul>
</nav>
        <!-- here goes some notices -->
	<% for(var i=0; i<info.length; i++) {%>
	<ul class="list-group" >
		<div for="<%=i%>"><li class="list-group-item list-group-item-dark" id="notice<%=info[i].score%>"><strong><%=info[i].title%></strong> : <%=info[i].post%></li></div>
	</ul>
	<% } %>

	</br>

        <!-- card -->
        <div class="card text-white bg-dark mb-3  mx-auto" style="width: 18rem;">
                <img src="https://raw.githubusercontent.com/YuiLovesTomato/sonyometal/master/images/01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">소녀메탈</h5>
                        <p class="card-text">some cover project @seoul</p>
                </div>
        </div>

        </br>

        <!-- timeline -->
        <div style="display: flex; justify-content: center;">
                <a class="twitter-timeline tw-align-center" data-width="286" data-height="600" data-theme="dark" href="https://twitter.com/SONYOMETAL?ref_src=twsrc%5Etfw">Tweets by SONYOMETAL</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </br></br>

        <!-- buttons for notice: hide it later -->
        <!-- connect mysql on docker to edit databases. -->
        <div class="postbutton d-flex justify-content-center">
                <a href="/write">
                        <button type="button" class="btn btn-primary">write notice</button>
                </a>
        </div>


</body>

</html>
~
